
@{
    ViewData["Title"] = "Index";
}
<form method="get" action="Add">
    <h1>Product Details</h1>
    Product Id <input type="text" name="id" /><br />
    Product Brandname <input type="text" name="brand" /><br />
    Product Name<input type="text" name="name" /><br />
    Product Quantity<input type="text" name="qty" /><br />
    Product Price<input type="text" name="price" /><br />
    Email<input type="text" name="mail" /><br />
    <input type="submit" value="add" />
</form>

